body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headmaster {
    color: #3C979C;
    margin-left: 20px;
    float: left;
    text-decoration: none !important; 
}

.headmaster a:visited {
    color: #3C979C;
    padding-left: 40px;
    float: left;
    text-decoration: none;
}

.headmaster a:hover {
   color: rgb(1, 26, 26);   
   text-decoration: none; 
}

.headmaster a:active {
    background-color: teal;
    color: white;
    border-radius: 2;
    padding: 4px;
}

.navigation_bar-X {
    color: #3BB3C3;
    padding-left: 800px;
    float: left;
    vertical-align: bottom;
    padding-top: 15px;
    font-weight: lighter;
}

.navigation_bar {
    color: #3BB3C3;
    padding-left: 20px;
    float: left;
    vertical-align: bottom;
    padding-top: 15px;
    font-weight: lighter;
    text-decoration: none;
    padding-bottom: -100px;
}

.navigation {
    padding-bottom: -100px;
}

.navigation_bar a:hover, .navigation_bar-X a:hover{
   color: rgb(1, 26, 26);
}

.navigation_bar a:active, .navigation_bar-X a:active{
    background-color: teal;
    color: white;
    border-radius: 2;
    padding: 4px;
}
.logo {
    width: 800px;
    float: left;
    padding-right: 110px;
}


.text-1 {
    width: 300px;
    padding-left: 40px;
    color: #3C979C;
    padding-top: 150px;
}

.text-1-x {
    padding-left: 80px;
    color:#3C979C ;
}

.design {
    line-height: 0.2;
}

.de {
    color: #3C979C;
    font-size: 90px;   
    margin-left: 950px;
    margin-bottom: -34px;
}

.sign {
    padding-left: 950px;    
    font-size: 90px; 
    color: white;
}

.other-color {
    background-color: #3C979C;
    height: 400px;
}

.text-2 {
    padding-left: 950px;    
    color: white;
}

